<h1>List of practices</h1>

<!-- <table>
  <tr>
    <th>Date</th>
    <th>Author</th>
    <th>Plan</th>
    <th>Approvals</th>
    <th></th>
  </tr>

  <% @practices.each do |practice| %>
  <tr>
    <td><%= link_to practice.date, practice_path(practice) %></td>
    <td><%= practice.author %></td>
    <td><%= practice.plan %></td>
    <td><%= practice.approval_1 %></td>
    <td><%= practice.approval_2 %></td>


  </tr>
  <% end %>
</table> -->
<h4> Author / Plan / Approvals </h4>
<ul class="list-group">
<% @practices.each do |practice| %>

  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span class="label label-pill label-info" align="right"><%= link_to practice.date, practice_path(practice) %></span>
    <%= practice.author %> /
    <%= practice.plan %> /
    <%= practice.approval_1 %> ,
    <%= practice.approval_2 %>
  </li>
<% end %>
</ul>

<p>
  <%= link_to "Create new practice", new_practice_path %>
</p>
